<!-- TODO ONLY TEMPORARY HTML AND CSS FOR MASTER Login -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Film-Forum Login</title>
    <!-- TODO: Add Icon -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Cooles Icon -->
    <link rel="stylesheet" href="{% static 'authentication/css/style.css' %}">
    <!-- <script src="{% static 'authentication/js/script.js' %}"></script> -->
</head>


<body>
    <div class="login-container">
        <h1>Film-Forum</h1>
        
        <!-- Nachrichten anzeigen -->
        {% if messages %}
            {% for message in messages %}
                <div class="messages {{ message.tags }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
        
        <!-- Login-Formular -->
        <form method="post">
            {% csrf_token %}
            <input type="password" 
                   name="master_password" 
                   placeholder="Master-Passwort eingeben"
                   required>
            <button type="submit">Einloggen</button>
        </form>
    </div>
</body>
</html>