{% extends 'movies/base.html' %}
{% block movies_list %}
<div id="movieContainer" class="movieContainer">
  {% for movie in movies %}
    <div
      class="movieItem"
      data-id="{{ movie.id }}"
      data-title="{{ movie.title|default:''|escape }}"
      data-voters="{% for v in movie.votes.all %}{{ v.username|escape }}{% if not forloop.last %}|{% endif %}{% endfor %}"
      data-vote-count="{{ movie.votes.count }}"
      {% if request.user.is_authenticated %}data-has-voted="{% if request.user in movie.votes.all %}1{% else %}0{% endif %}"{% endif %}
      {% if movie.imgURL %}style="background-image:url('{{ movie.imgURL }}');background-size:cover;background-position:center;background-repeat:no-repeat;"{% endif %}
    >
      <div class="movie-overlay">
        <h3>{{ movie.title|default:"Unbekannter Titel" }}</h3>
        <h5>{{ movie.runtime|default:"--" }} min  || {{ movie.tomatoMeter|default:"--"}} 🍅</h5>
        <div class="button-container-horizontal">

        <!-- Vorerst Button für Justwatch später eigene Übersicht-->
         
          <a href="{{ movie.jwURL|default:'#' }}" target="_blank">
            <button type="button">Mehr</button>
          </a>

        <!-- Wenn der User bereits unter den movie.votes ist erscheint ein button zum unvoten mit der view movie_unvote(request, movie_id):, ansonsten ein button der die movie_vote_search(request, movie_id, movie_title) view verwendet um für den Film zu voten -->

        {% if request.user in movie.votes.all %}
          <form method="post" action="{% url 'movie_unvote' movie.id %}">
            {% csrf_token %}
            <button type="submit">Unvote</button>
          </form>
        {% else %}
          <form method="post" action="{% url 'movie_vote_search' movie.id movie.title %}">
            {% csrf_token %}
            <button type="submit">Vote</button>
          </form>
        {% endif %}
        </div>

        <div class="vote-avatars">
          {% with voters=movie.votes.all %}
            {% if voters %}
              {% for voter in voters %}
                <div class="vote-avatar" title="{{ voter.username }}">
                  {% if voter.userprofile.profile_image %}
                    <img src="{{ voter.userprofile.profile_image.url }}" alt="{{ voter.username }}">
                  {% else %}
                    {{ voter.username|first|upper }}
                  {% endif %}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}